@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
            format("woff2"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
            format("woff"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
            format("opentype");
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}

html {
    font-size: 12px;
}

body {
    background-color: #5b2386;
    width: 100%;
}

.title-section {
    width: 564px;
    height: 265px;
    margin: 10rem auto 0;
    background: url("../img/clock.png") center/contain no-repeat;
}

.title-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
}

q {
    font-family: "OTEnjoystoriesBA", sans-serif;
    font-size: 3rem;
    color: #f5df4d;
    text-align: center;
    font-weight: 700;
}

.quote {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* 따옴표 이미지와 p태그 div로 묶은것의 클래스명*/
.rule {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 20px;
    position: relative;
}

.rule img {
    position: absolute;
    width: 485px;
    height: 85px;
    top: 20px;
    object-fit: contain;
}

.rule p {
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 100%;
}

.rule span {
    font-size: 2rem;
    font-weight: 700;
}

.calc-section p,
.calc-box input,
.result-section p {
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.calc-section p {
    gap: 20px;
}

.result-text,
.calc-content {
    margin-bottom: 20px;
}

.calc-box input {
    width: 228px;
    height: 56px;
    gap: 10px;
    border-style: none;
    border-radius: 8px;
    padding: 16px 40px;
    color: #babcbe;
}

.click-btn {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    gap: 7px;
    position: relative;
}
.submit-btn {
    font-family: "GmarketSansBold", sans-serif;
    background-color: #fcee21;
    color: #5b2386;
    font-size: 2rem;
    font-weight: 500;
    width: 567px;
    height: 64px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
}
.click-img {
    position: absolute;
    right: -71px;
    top: 22px;
}

.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-box {
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 142px;
}

.result-box p {
    gap: 20px;
}

.result-box span {
    font-family: "GmarketSansBold", sans-serif;
    font-size: 6rem;
    font-weight: 700;
}

.btn-container {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gogo-btn,
.share-btn {
    font-family: "GmarketSansBold", sans-serif;
    background-color: #fcee21;
    color: #5b2386;
    font-size: 2rem;
    font-weight: 500;
    width: 365px;
    height: 64px;
    border-radius: 12px;
}

.share-btn {
    width: 193px;
    background-color: #ffffff;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 106px;
    gap: 20px;
}

footer img {
    width: 168px;
    height: 36px;
    object-fit: contain;
}

footer p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    line-height: normal;
    text-align: center;
    gap: 10px;
}

/* 모달창 */
.modal {
    width: 800px;
    height: 816px;
    border-radius: 20px;
    padding: 80px 146px;
    background-color: #ffffff;
    /* 노출안되게 설정 */
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

/* 모달 컨텐츠 박스 */
.modal-container {
    width: 508px;
    height: 656px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* 모달 텍스트 */
.modal-text {
    font-family: "OTEnjoystoriesBA", sans-serif;
    font-weight: 700;
    color: #5b2386;
    gap: 4px;
}

.modal-text p {
    font-size: 8rem;
}

.modal-text span {
    font-size: 3rem;
}

/* 이미지와 버튼 묶음 */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.modal-content img {
    width: 438px;
    height: 342px;
    object-fit: contain;
}

/* 노란버튼 */
.modal-close-btn {
    background-color: #fcee21;
    border-radius: 12px;
    width: 508px;
    height: 64px;
    margin-top: 60px;
    box-shadow: 2px 4px 10px 0px #00000026;
}

/* 노란버튼 내 글씨 */
.modal-close-btn span {
    font-family: "GmarketSansBold", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #5b2386;
}
