@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
            format("woff2"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
            format("woff"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
            format("opentype");
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}

html {
    font-size: 12px;
}

body {
    font-family: "Noto Sans KR", "GmarketSansMedium", "GmarketSansBold",
        "OTEnjoystoriesBA", sans-serif;
    background-color: #5b2386;
}

.title-section {
    width: 564px;
    height: 265px;
    margin: 10rem auto 0;
    position: relative;
}

.title-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    z-index: 2;
}
.clock-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
}

.intro-section {
}

q {
    font-family: "OTEnjoystoriesBA", sans-serif;
    font-size: 3rem;
    color: #f5df4d;
    text-align: center;
    font-weight: 700;
    margin-top: 43rem;
}

.quote {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* 따옴표 이미지와 p태그 div로 묶은것의 클래스명*/
.rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
    position: relative;
}

.rule img {
    position: absolute;
    width: 485px;
    height: 85px;
    top: 20px;
    object-fit: contain;
}

.rule p {
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 100%;
}

.rule span {
    font-size: 2rem;
    font-weight: 700;
}

.calc-section p,
.calc-section input,
.result-section p {
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.calc-section input {
    color: #babcbe;
}

.calc-section p {
    gap: 20px;
}

.will {
    margin-bottom: 20px;
}
.you {
    margin-bottom: 20px;
}

.work,
.hour {
    width: 228px;
    height: 56px;
    gap: 10px;
    border-style: none;
    border-radius: 8px;
    padding: 16px 40px;
}

.click-btn {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    gap: 7px;
    position: relative;
}
.submit-btn {
    font-family: "GmarketSansBold", sans-serif;
    background-color: #fcee21;
    color: #5b2386;
    font-size: 2rem;
    font-weight: 500;
    width: 567px;
    height: 64px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
}
.click-img {
    width: 64px;
    height: 72px;
    right: 70px;
    position: absolute;
    right: -71px;
    top: 22px;
}

.result {
    margin-top: 142px;
    gap: 12px;
}

.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-section p {
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.result-section span {
    font-family: "GmarketSansBold", sans-serif;
    font-size: 6rem;
    font-weight: 700;
}

.modal-btn {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gogo-btn,
.share-btn {
    font-family: "GmarketSansBold", sans-serif;
    background-color: #fcee21;
    color: #5b2386;
    font-size: 2rem;
    font-weight: 500;
    width: 365px;
    height: 64px;
    border-radius: 12px;
}

.share-btn {
    width: 193px;
    background-color: #ffffff;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 106px;
    gap: 20px;
}

footer img {
    width: 168px;
    height: 36px;
    object-fit: contain;
}

footer p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    line-height: normal;
    text-align: center;
    gap: 10px;
}
